.btn{
    display: inline-flex;
    padding: 20px;
    background-color: #BDBDBD;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: none;

    &:hover{
        background-color: #27AE60;
    }
}