.title1{
    font-size: 26px;
    font-weight: bold;
}

.title2{
    font-size: 22px;
    font-weight: bold;
}

.title3{
    font-size: 18px;
    font-weight: bold;

    &.white{
        color: #FFF;
    }
}

.title4{
    font-size: 16px;
    font-weight: normal;
}

.text{
    font-size: 14px;
    font-weight: normal;

    &.semiBold{
        font-weight: 600;
    }

    &.green{
        color: var(--color-primary)
    }

    &.grey3{
        color: var(--color-grey-3);
    }
}

.caption{
    font-size: 12px;
    font-weight: normal;
}